body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#canvas2d {
   #width: 50%;
   #height: 50%;
   left:0;
   #z-index: 100;
   position:absolute;
   #background-color: #fff;
}


#container {
  width: 100%;  
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  
}


.pdiv {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight:bold;
  #background-color: #eee;
  padding: 3px;
  display:inline-block; 
  margin: 10px;
  text-align: center;
}
.pdiv p {
  color: #131723;
}
.pdiv p:hover {
  color: red;
  cursor:pointer;
}

.pbutton {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255,0,0,0);
  opacity: 0.2;
}

.pbutton:hover {
  opacity: 1;
}

#edit {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  position:absolute;
  margin: 10px;
  top:0;
  z-index:100;
}


#edit input[type="text"] {
   border: 1px solid #006;
   background: #ffc;
   width:70px;
}
#edit input:hover[type="text"] {
    border: 1px solid #f00;
    background: #ff6;
}

#menu {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  position:absolute;
  margin-top: 10px;
  #bottom:0;
  right:12px;
  z-index:100;
  display:inline-block;
  
}

#util {
  position:absolute;
  bottom:0;
  display:inline-block;
  text-align: center;
}
